<h1><%= @user.name %>のページ</h1>
<p>メールアドレス:<%= @user.email %></p>
<%= image_tag @user.image.url if @user.image.url.present? %>
<% if @user.id == @current_user.id %>
  <%= link_to "編集", edit_user_path(@user), class: "btn btn-primary" %>
  <%= link_to "削除", user_path(@user), method: :delete, class: "btn btn-danger", data: { confirm: "本当に削除しますか?" } %>
  <%= link_to "お気に入り一覧", user_path(@user) %>
  <%= link_to "新規投稿", new_picture_path %>
<% end %>
<%= link_to "投稿一覧", pictures_path %>