<!DOCTYPE html>
<html>
  <head>
    <title>Instaclone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track': "reload" %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    <div class="main">
      <header class="clearfix">
        <i class="fab fa-instagram icon fa-4x"></i>
        <div class="header-menu">
          <% if logged_in? %>
            <a><%= link_to "マイページ", user_path(current_user.id) %></a>
            <a><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></a>
          <% else %>
            <a><%= link_to "アカウント登録", new_user_path %></a>
            <a><%= link_to "ログイン", new_session_path %></a>
          <% end %>
        </div>
      </header>
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>
      <%= yield %>
      <footer>
        <div class="footer_area">
          <p>DIVE INTO CODE</p>
        </div>
      </footer>
    </div>
  </body>
</html>
